.header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    border-bottom: 1px solid #131313;
    padding-bottom: 20px;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}
.logo {
    margin-right: 50px;
    text-decoration: 0;
    color: lightgreen;
    background-color: rebeccapurple;
    font-weight: 700;
    padding-top: 5px 15px;
}
ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
ul > li {
    margin-right: 30px;
}
.box {
    display: flex;
    margin-bottom: 30px;
    gap: 10px;
    border-bottom: 1px solid #000;
}
.aside {
    background-color: lavender;
    padding: 10px 20px;
}
.post {
    padding-bottom: 20px;
}
footer {
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px; 
}
a {
    text-decoration: none;
    color: rebeccapurple;
    font-weight: 700;
}
h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
section {
    background-color: lavender;
    padding: 5px 20px;
    padding-bottom: 20px;
}